.grey {
    display: block;
    width: 75px;
    height: 75px;
    border: 1px solid black;
}

.activeRed {
    @extend .grey;
   // border: 1px solid yellow;
    background-color: red;
}

.activeBlue {
    @extend .grey;
   // border: 1px solid yellow;
    background-color: blue;
}

.activeBrown {
    @extend .grey;
   // border: 1px solid yellow;
    background-color: rgb(90, 27, 27);
}

.red {
    @extend .grey;
    background-color: rgb(177, 0, 0);
}

.blue {
    @extend .grey;
    background-color: rgb(0, 0, 182);
}

.brown {
    @extend .grey;
    background-color: brown;
}


.coin {
    //display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
}

.activeCoinRed {
    @extend .coin;
    background-color: red;
}

.activeCoinBlue {
    @extend .coin;
    background-color: blue;
}